* {
  margin: 0;
  padding: 0;
  background-origin: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app > * {
  margin-top: -250px;
}
